<a href="https://colab.research.google.com/github/pavan03ds/Feature-Engineering/blob/main/2_Handling_Categorical_Features_2_Count_or_Frequency_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Count or Frequency Encoding

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("/content/drive/MyDrive/Feature Engineering/mercedesbenz.csv",usecols=['X1','X2'])

In [4]:
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      4209 non-null   object
 1   X2      4209 non-null   object
dtypes: object(2)
memory usage: 65.9+ KB

In [6]:
data.shape

(4209, 2)

 let's to one hot coding and see what happens

In [7]:
pd.get_dummies(data).shape  # we can see 69 columns are added -- too many

(4209, 71)

In [8]:
len(data['X1'].unique())

27

In [9]:
len(data['X2'].unique())

44

In [10]:
for col in data.columns:
    print(col,':',len(data[col].unique()))

X1 : 27
X2 : 44

In [11]:
data.X1.value_counts().to_dict()   #obtaining count of each variable and storing to dict for remapping

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'd': 3,
 'q': 3,
 'ab': 3}

In [12]:
data_X1_counts = data.X1.value_counts().to_dict()

In [13]:
data.X1 = data.X1.map(data_X1_counts)    #replacing lables with their count

In [14]:
data.head()       # we can see the variables in X1 are replaced by their counts

    X1  X2
0  408  at
1   31  av
2   52   n
3   31   n
4  408   n

 Let's do it for X2

In [15]:
data.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [16]:
data_X2_counts = data.X2.value_counts().to_dict()

In [17]:
data.X2 = data.X2.map(data_X2_counts)   # replacing lables with their count

In [18]:
data.head()

    X1   X2
0  408    6
1   31    4
2   52  137
3   31  137
4  408  137

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      4209 non-null   int64
 1   X2      4209 non-null   int64
dtypes: int64(2)
memory usage: 65.9 KB