<a href="https://colab.research.google.com/github/pavan03ds/Feature-Engineering/blob/main/3_Handling_categorical_Features_3_Ordinal_numbering_encoding_(or)_Label_encoding_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ordinal numbering encoding (or) Label encoding

In [ ]:
import pandas as pd
import datetime

creating a variable with dates and from that extracting the weekdays

In [ ]:
df_base = datetime.datetime.today()

list of dates with 20 days difference from today

In [ ]:
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0,20)]

In [ ]:
#creating a data frame using the above
df = pd.DataFrame(df_date_list)
df.columns = ['day']

In [ ]:
df

                          day
0  2022-08-10 19:07:56.178919
1  2022-08-09 19:07:56.178919
2  2022-08-08 19:07:56.178919
3  2022-08-07 19:07:56.178919
4  2022-08-06 19:07:56.178919
5  2022-08-05 19:07:56.178919
6  2022-08-04 19:07:56.178919
7  2022-08-03 19:07:56.178919
8  2022-08-02 19:07:56.178919
9  2022-08-01 19:07:56.178919
10 2022-07-31 19:07:56.178919
11 2022-07-30 19:07:56.178919
12 2022-07-29 19:07:56.178919
13 2022-07-28 19:07:56.178919
14 2022-07-27 19:07:56.178919
15 2022-07-26 19:07:56.178919
16 2022-07-25 19:07:56.178919
17 2022-07-24 19:07:56.178919
18 2022-07-23 19:07:56.178919
19 2022-07-22 19:07:56.178919

In [ ]:
#extract  the weekday names
df['day_of_week'] = df['day'].dt.day_name()

In [ ]:
df.head()

                         day day_of_week
0 2022-08-10 19:07:56.178919   Wednesday
1 2022-08-09 19:07:56.178919     Tuesday
2 2022-08-08 19:07:56.178919      Monday
3 2022-08-07 19:07:56.178919      Sunday
4 2022-08-06 19:07:56.178919    Saturday

In [ ]:
# creating the weekday map dict

In [ ]:
weekday_map = {
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':7
}

In [ ]:
df['day_ordinal'] = df.day_of_week.map(weekday_map)

In [ ]:
df.head(20)

                          day day_of_week  day_ordinal
0  2022-08-10 19:07:56.178919   Wednesday            3
1  2022-08-09 19:07:56.178919     Tuesday            2
2  2022-08-08 19:07:56.178919      Monday            1
3  2022-08-07 19:07:56.178919      Sunday            7
4  2022-08-06 19:07:56.178919    Saturday            6
5  2022-08-05 19:07:56.178919      Friday            5
6  2022-08-04 19:07:56.178919    Thursday            4
7  2022-08-03 19:07:56.178919   Wednesday            3
8  2022-08-02 19:07:56.178919     Tuesday            2
9  2022-08-01 19:07:56.178919      Monday            1
10 2022-07-31 19:07:56.178919      Sunday            7
11 2022-07-30 19:07:56.178919    Saturday            6
12 2022-07-29 19:07:56.178919      Friday            5
13 2022-07-28 19:07:56.178919    Thursday            4
14 2022-07-27 19:07:56.178919   Wednesday            3
15 2022-07-26 19:07:56.178919     Tuesday            2
16 2022-07-25 19:07:56.178919      Monday            1
17 2022-07-24 19:07:56.178919      Sunday            7
18 2022-07-23 19:07:56.178919    Saturday            6
19 2022-07-22 19:07:56.178919      Friday            5